* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: transparent;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  position: relative;
  background-color: hsl(30, 38%, 92%);
}
@font-face {
  font-family: "fontello";
  src: url("../font/fontello.eot?61910255");
  src: url("../font/fontello.eot?61910255#iefix") format("embedded-opentype"),
    url("../font/fontello.woff2?61910255") format("woff2"),
    url("../font/fontello.woff?61910255") format("woff"),
    url("../font/fontello.ttf?61910255") format("truetype"),
    url("../font/fontello.svg?61910255#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?61910255#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-basket:before {
  content: "\e800";
} /* '' */

.main-container {
  border-radius: 15px;
  position: absolute;
  height: 450px;
  display: flex;
  background-color: white;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-cover {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  flex-shrink: 0;
  margin-right: 30px;
  height: 450px;
  width: 300px;
  background-color: antiquewhite;
  background-image: url(./images/image-product-desktop.jpg);
  background-size: cover;
}
.content {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}
.perfume {
  font-size: small;
  margin-top: 20px;
}
button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  border: none;
  font-size: medium;
  color: white;
  margin-left: -30px;
  border-radius: 7px;
  width: 250px;
  height: 50px;
  margin-bottom: 30px;
  align-self: flex-end;
  background-color: hsl(158, 36%, 37%);
}
span {
  color: hsl(158, 36%, 37%);
  font-weight: 700;
  word-spacing: 15px;
}
h1,
span {
  font-size: xx-large;
  font-weight: 700;
  font-family: "Fraunces", serif;
}
p,
a {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  font-size: 14px;
}
p {
  width: 100%;
  font-size: medium;
  font-weight: 500;
  line-height: 25px;
}
a {
  margin-top: 10px;
  margin-left: 15px;
  text-decoration: line-through;
  font-size: 15px;
}
h1 {
  font-size: 40px;
}
button:hover {
  background-color: hsl(158, 35%, 20%);
}
